@model HomeViewModel


<partial name="_SearchBar" />

@*<div>
    @foreach (var tweet in Model.BloggedTweets)
            {
                <partial name="_TweetCard" model="tweet"/>
            }
</div>*@