<div class="container d-flex flex-column align-items-start">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 40rem;">
        <div class="card-header">Club Systems International commented:</div>
        <div class="card-body text-primary">
            <p>@Model.DateTimePosted</p>
            <h5 class="card-title">@Model.CommentContent</h5>
            <p class="card-text"></p>
        </div>
    </div>
</div>
